<h1>Your Cart</h1>

<br>
<%= link_to 'Empty your cart', cart_clear_path %>
<br>

<ul>

	<% @cart.each do | id, quantity | %>
	<% product = Product.find_by_id(id) %> 

	<li>

		<%= link_to product.title, product %>

	</li>

<% end %>
</ul>
